name: NSE Daily Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *' # 6:30 PM IST

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install pandas selenium webdriver-manager gspread google-auth

      - name: Run Script
        env:
          GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
        run: python nse.py
